.column-ut_expertise_photo,
.column-ut_press_date,
.column-ut_publication_cover,
.column-ut_journal_cover,
.column-ut_staff_photo {
  width: 10%;
}

.column-ut_slideshow_image,
.column-ut_slideset_image {
  width: 15%;
}

.ukmtheme-slide-card h1, .ukmtheme-slide-card h2, .ukmtheme-slide-card h3, .ukmtheme-slide-card h4, .ukmtheme-slide-card h5, .ukmtheme-slide-card h6, .ukmtheme-slide-card p, .ukmtheme-slide-card span, .ukmtheme-slide-card em {
  color: #000000 !important;
}