// 12 coulmn grid by Jamlaudin Rajalu

$col: 99.99%;
$box: border-box;

[class*="col-"] {
  box-sizing: $box;
  display: block;
  float: left;
}

.column {
  width: $col;
  box-sizing: $box;
}

.column:after {
  content: "";
  display: table;
  clear: both;
}

.col-1-12 {
  width: ($col / 12) * 1;
}

.col-2-12 {
  width: ($col / 12) * 2;
}

.col-3-12 {
  width: ($col / 12) * 3;
}

.col-4-12 {
  width: ($col / 12) * 4;
}

.col-5-12 {
  width: ($col / 12) * 5;
}

.col-6-12 {
  width: ($col / 12) * 6;
}

.col-7-12 {
  width: ($col / 12) * 7;
}

.col-8-12 {
  width: ($col / 12) * 8;
}

.col-9-12 {
  width: ($col / 12) * 9;
}

.col-10-12 {
  width: ($col / 12) * 10;
}

.col-11-12 {
  width: ($col / 12) * 11;
}

.col-12-12 {
  width: ($col / 12) * 12;
}

@media only screen 
and (min-width : 320px) 
and (max-width : 640px) {
    [class*="col-"] {
      width: 99.99%;
      display: block;
      float: none;
    }

    .column-small {
      padding: 10px;
    }
}

[class*="col-small-"] {
  box-sizing: $box;
  display: block;
  float: left;
}

.col-small-1-12 {
  width: ($col / 12) * 1;
}

.col-small-2-12 {
  width: ($col / 12) * 2;
}

.col-small-3-12 {
  width: ($col / 12) * 3;
}

.col-small-4-12 {
  width: ($col / 12) * 4;
}

.col-small-5-12 {
  width: ($col / 12) * 5;
}

.col-small-6-12 {
  width: ($col / 12) * 6;
}

.col-small-7-12 {
  width: ($col / 12) * 7;
}

.col-small-8-12 {
  width: ($col / 12) * 8;
}

.col-small-9-12 {
  width: ($col / 12) * 9;
}

.col-small-10-12 {
  width: ($col / 12) * 10;
}

.col-small-11-12 {
  width: ($col / 12) * 11;
}

.col-small-12-12 {
  width: ($col / 12) * 12;
}