.column-ut_expertise_photo,
.column-ut_press_date,
.column-ut_publication_cover,
.column-ut_journal_cover,
.column-ut_staff_photo {
  width:10%;
}
.column-ut_slideshow_image,
.column-ut_slideset_image {
  width:15%;
}