// TYPOGRAPHY

html {
    font:400 16px/20px "Poppins",Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    color:#444
}

em {
    color: #444;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px 0;
    font-family: "Poppins",Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #444;
    text-transform: none;
}

.wrap {
    margin: 0 auto;
    max-width: 1140px;
}

#header-wrap {
    min-height:60px;
    background-color:#78CEEF;
    position:relative;
    z-index: 999;
}

#header-wrap-overlay {
    background-image: url('images/songket-stripe.png');
    opacity: 0.2;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}

#header {
    position: relative;
    z-index: 2;
}

#ptj-name-container {
    background-color: #1d92c9;
}
#ptj-name {
    h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }
    #ptj-name-title {
        color: #fff;
        font-weight: 600;
        padding-right: .3rem;
    }
    #ptj-name-sub-title {
        font-style: italic;
        font-weight: 200;
        font-size: 1rem;
        line-height: 2rem;
    }
}

// footer

#footer {
    position: relative;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 0;
    color: #fff;
    background: rgb(14,110,220);
    background: linear-gradient(0deg, rgba(14,110,220,1) 0%, rgba(29,146,201,1) 100%);
}

.copyright-with-navigation {
    height: 80px;
    width: 100%;
    margin-top: 40px;
    padding: 40px 0 0 0;
    p {
        margin: 0 0 0 0;
        text-align: center;
        font-size: 12px;
    }
}

.footer-nav {
    display: table;
    margin: 0 auto;
    list-style-type: none;
    padding-left: 0;
    ul {
        padding: 0;
    }
    li {
        display: inline-block;
        a {
            display: block;
            padding: 0 5px 0 5px;
            font-size: 12px;
        }
        a:link,
        a:visited {
            color: #fff;
        }
        a:hover {
            color: #ccc;
            text-decoration: none;
        }
    }
}

.footer-social-icon {
    list-style-type: none;
    padding-left: 0;
    li {
        display: inline-block;
        a {
            color: #fff;
            font-size: 24px;
            padding: 3px;
        }
    }
}

// STICKY FOOTER

* {
    margin: 0;
}
html, body {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -142px; 
}
.page-wrap:after {
    content: "";
    display: block;
}
.footer, .page-wrap:after {
    min-height: 142px; 
}

// ARTICLE, PAGES, POSTS

// staff

.staff-detail {
    h3 {
        margin: 0 0 5px 0;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
        margin-top: 0;
    }
}

// press release

.press-release {
    li {
        padding-bottom: 20px;
    }
}

// gallery

.gallery-image {
    display: block;
    padding: 5px 10px 5px 0;
    float: left;
}

// widget: event
.widget-event {
    list-style-type: none;
    padding-left: 0;
    .widget-event-detail {
        padding-bottom: 20px;
    }
}

// offcanvas

.offcanvas-tools {
    padding: 10px 20px;
    color: #fff;
    h3, h4 {
        color: #fff;
    }
    ul {
        padding-left: 0;
        list-style-type: none;
        li {
            a, a:visited {
                color: #fff;
            }
            a:hover {
                color: #444;
            }
        }
    }
}

.theme-switcher {
    list-style-type: none;
    li {
        float: left;
        a {
            display: block;
            margin: 10px 10px 10px 0;
            width: 40px;
            height: 40px;
            border: 1px solid #ccc;
        }
    }
}

/// CONFERENCE ///

// Title
h1.conference-site-name {
        margin: 0;
        font-family: 'Merriweather Light', serif;
        font-size: 21px;
        color: #292929;
        text-align: right;
        padding-right: 6.3325%;
        padding-top: 24px;
}

// Menus

#ConferenceMenu {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        line-height: 1;
        li {
            display: inline-block;
            position: relative;
            margin: 0;
            padding: 0;
            a {
                font: 400 18px/20px "Bebas Neue Regular",Helvetica Neue,Helvetica,Arial,sans-serif;
                display: block;
                padding: 22px 7px 22px 7px;
                line-height: 0;
                margin-top: 0;
                color: #fff;
            }
            a:hover {
                color: #444;
                text-decoration: none;
            }
            a:visited {
                color: #fff;
            }
        }
    }
}

// FRONTPAGE & HEADER BARU

.custom-header-top-nav {
	margin-top: 70px;
}

#pengumuman-wrap {
    background: url('images/grey-pattern-1029577b.png') repeat;
    padding: 20px 0 20px 0;
}

#pengumuman {
	background: white;
	color: #444;
	box-shadow: 0 1px 5px rgba(0,0,0,.3);
}

#pengumuman-title {
	text-align: center;
	color: #fff;
	background: #ffa500;
	margin-bottom: 0;
	padding: 10px;
}

#pengumuman-heading {
	color: #fff;
}

.pengumuman-lagi {
	display: block;
	text-align: right;
	color:white;
	margin-top: -40px
}
.pengumuman-list {
	border-left: 1px solid #e6e6e6;
}
.pengumuman-item {
	display: block;
	color: #444;
	padding: 10px 0 20px 10px;
}

.pengumuman-date {
	color: #888;
	font-size: 12px;
}

.pengumuman-item-image {
	padding: 5px 10px;
}

.frontpage-news-title h2,
.frontpage-news-title h3,
.frontpage-news-title h4 {
	margin-top: 20px;
	margin-bottom: 0;
}

.news-archive-link,
.news-archive-link:hover,
.text-decoration:visited,
.frontpage-news-widget a,
.frontpage-news-widget a:visited,
.pengumuman-item-content a,
.pengumuman-item-content a:visited {
    text-decoration: none;
	color: #888;
}

.pengumuman-item-content a:hover,
.frontpage-news-widget a:hover {
	color: #ffa500;
	text-decoration: none;
}

// Mobile config

@media only screen and (min-width: 641px) and (max-width: 1140px) {
    .device-padding {
        padding: 5px 20px;
    }
}

@media only screen and (max-width: 640px) {
    .small-hidden {
        display: none;
    }
    .header-wrap {
        background: #c7c7c7;
    }
    .top-nav {
        display: table;
        margin: 0 auto;
        float: none;
        li {
            a {
                padding: 10px 10px;
            }
        }
    }
    .top-nav-tool {
        margin-top: 0;
        padding: 10px 10px;
    }
    h1.site-name {
        padding: 0 0 20px 0;
        text-align: center;
    }
    .device-padding {
        padding: 5px 20px;
    }
    #ptj-name-title-mobile {
        padding: .5rem 0;
        background-color: #1d92c9;
        color: #fff;
    }
}
@import "menus";
@import "core";