<!-- wp:template-part {"slug":"header","theme":"ukm-twentyseventeen-master"} /-->

<!-- wp:media-text {"align":"wide","mediaPosition":"right","mediaId":5263,"mediaLink":"https://wordpress.org/patterns/pattern/image-and-quote-on-a-background/pear-3/","mediaType":"image","verticalAlignment":"center","style":{"color":{"background":"#f1f5c7"}}} -->
<div class="wp-block-media-text alignwide has-media-on-the-right is-stacked-on-mobile is-vertically-aligned-center has-background" style="background-color:#f1f5c7"><div class="wp-block-media-text__content"><!-- wp:group {"style":{"spacing":{"padding":{"top":"2em","right":"2em","bottom":"2em","left":"2em"}}}} -->
    <div class="wp-block-group" style="padding-top:2em;padding-right:2em;padding-bottom:2em;padding-left:2em"><!-- wp:paragraph {"style":{"typography":{"lineHeight":"1.2","fontSize":"36px"}}} -->
    <p style="font-size:36px;line-height:1.2"><strong>Even the bitterest fruit has sugar in it.</strong></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph {"fontSize":"extra-small"} -->
    <p class="has-extra-small-font-size">– Terry a O'Neal</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div><figure class="wp-block-media-text__media"><img src="https://s.w.org/patterns/files/2021/06/pear-1-1024x1024.png" alt="" class="wp-image-5263 size-full"/></figure></div>
    <!-- /wp:media-text -->
    
    <!-- wp:template-part {"slug":"footer","theme":"ukm-twentyseventeen-master"} /-->